 .App {
   text-align: center;
 }

 .ecomm-logo {
   width: 40px;
   height: 40px
 }

 .offers-div,
 .display-all-products {
   padding: 50px 0
 }

 .shop-by-category {
   display: inline-block;
 }

 .card-img-top {
   width: 360px;
   height: 360px
 }

 .footer-section {
   color: white;
   clear: both
 }

 .MuiDivider-root {
   color: white !important
 }

 .body {
   margin: 0% 10%
 }

 .css-ta95xa-MuiImageListItem-root .MuiImageListItem-img {
   height: 130px !important;
   width: 160px !important;
   object-fit: unset !important;
 }

 .css-dasnyc-MuiImageListItemBar-title {
   width: 140px;
   text-overflow: ellipsis;
 }

 .card-img-top {
   margin-left: auto;
   margin-right: auto;
 }

 .d-block.w-100 {

   width: 500px;
   height: 312px
 }

 .carousel {
   width: 70%;

   width: 500px;
   height: 312px
 }

 .product-details-page {
   margin: 5% 15% 10% 15%;
 }