 .App {
   text-align: center;
 }

 /* .cart-icon {
  margin-left: 90vw !important
} */

 .ecomm-logo {
   width: 40px;
   height: 40px
 }

 .offers-div,
 .display-all-products {
   padding: 50px 0
 }

 .shop-by-category {
   display: inline-block;
 }

 .card-img-top {
   width: 360px;
   height: 360px
 }

 .footer-section {
   color: white;
   clear: both
 }

 .MuiDivider-root {
   color: white !important
 }

 .body {
   margin: 0% 10%
 }

 .css-ta95xa-MuiImageListItem-root .MuiImageListItem-img {
   height: 130px !important;
   width: 140px !important;
   object-fit: unset !important;
 }

 .css-dasnyc-MuiImageListItemBar-title {
   width: 140px;
   text-overflow: ellipsis;
 }